@media (max-width:769px){
    .Big-Name{
        font-size: 80px;
        margin-top: 90px;
    }
    .down-Header{
        flex-direction: column;
        h1{
            margin-right: 0px;
        }
        .menu{
            ul{
                flex-direction: column;
                
            }
        }
    }
    .Get-StartedBtn{
        display: none;
    }
    .content{
        .home-page-parents{
            flex-direction: column;
            min-height: 650px;
        }
        .home-page-left, .home-page-right{
            width: 100vw;
        }
        .home-page-left{
            .conteiner{
                max-width: 100vw;
                margin: 15px;
            }
            h2{
                font-size: 35px;
                line-height: 45px;
            }
            p{
                font-size: 15px;
            }
        }
        .home-page-right{
            .conteiner-parents{
                flex-direction: column;
                .rules{
                    img{
                        width: 200px;
                        margin-left: calc(50vw - 100px);
                    }
                    p{
                        font-size: 35px;;
                        text-align: center; 
                    }
                }
            }
        }
    }
    .About-us-content{
        max-width: 100vw;
        margin-top: 200px;
        margin-left: 30px;
        h1{
            font-size: 80px;
            margin-top: 90px;
        }
    }
}
.Pricing{
    .Card-Row{
        flex-direction: column;
        max-width: 100vw;
        margin-left: 0px;
        .card{
            
        }
    }
}