@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.Big-Name {
  font-family: DIN;
  font-size: 100px;
  font-weight: 500;
  margin-top: 85px;
  text-align: center;
}

.down-Header {
  display: flex;
  justify-content: center;
  max-height: 100px;
}
.down-Header h1 {
  font-size: 25px;
  font-weight: bold;
  margin-right: 150px;
}
.down-Header .menu {
  justify-content: space-around;
  width: 450px;
}
.down-Header .menu ul {
  display: flex;
}
.down-Header .menu ul li {
  list-style-type: none;
  width: 125px;
  text-align: center;
}
.down-Header .menu ul li a {
  font-size: 17px;
  font-weight: 600;
  line-height: 41.5px;
  color: #3D3D3D;
  text-decoration: none;
}
.down-Header .Get-StartedBtn {
  margin-left: 150px;
  background-color: #000;
  height: 43px;
  margin-top: 8px;
  width: 150px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  padding-top: 18px;
}
.down-Header .Get-StartedBtn span {
  font-size: 16px;
}

.content .home-page-parents {
  display: flex;
  margin-top: -8px;
  height: 650px;
}
.content .home-page-left, .content .home-page-right {
  width: calc(50vw - 1px);
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .home-page-left {
  background-color: #F094E2;
}
.content .home-page-left .conteiner {
  max-width: 530px;
  margin-left: calc(25vw - 265px);
}
.content .home-page-left .conteiner h2 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
}
.content .home-page-left .conteiner p {
  font-size: 19px;
  font-weight: 500;
}
.content .home-page-left .conteiner .Get-StartedBtn {
  background-color: #000;
  height: 43px;
  width: 150px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  padding-top: 18px;
}
.content .home-page-left .conteiner .Get-StartedBtn span {
  font-size: 16px;
}
.content .home-page-right {
  background-color: #F6CB45;
}
.content .home-page-right .conteiner-parents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.content .home-page-right .conteiner-parents .rules {
  width: 40%;
  text-align: center;
}
.content .home-page-right .conteiner-parents .rules p {
  font-family: DIN;
  font-size: 35px;
  font-weight: 500;
}

.About-us-content {
  max-width: 950px;
  margin-left: calc(50vw - 475px);
}
.About-us-content h1 {
  font-family: DIN;
  font-size: 100px;
  font-weight: 500;
  color: #000;
  margin-top: 100px;
  text-align: center;
}
.About-us-content .text1 {
  margin-top: -15px;
}
.About-us-content .text {
  font-size: 19px;
  font-weight: 500;
}
.About-us-content .text a {
  color: #000;
  text-decoration-line: underline;
  text-decoration-color: #000;
}

.Pricing {
  background-color: #428683;
}
.Pricing h1 {
  font-family: DIN;
  font-size: 100px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}
.Pricing .text {
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-top: -15px;
}
.Pricing .Card-Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1024px;
  margin-left: calc(50vw - 512px);
  justify-content: space-around;
}
.Pricing .Card-Row .card {
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 14px;
  width: 321px;
  height: 275px;
  background-color: #fff;
  border-radius: 14px;
}
.Pricing .Card-Row .card .name-card {
  height: 88.5px;
  border-radius: 14px 14px 0px 0px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding-top: 63.5px;
}
.Pricing .Card-Row .card .item-card1 {
  background-color: #F6CB45;
}
.Pricing .Card-Row .card .item-card2 {
  background-color: #94A8E8;
}
.Pricing .Card-Row .card .item-card3 {
  background-color: #F094E2;
}
.Pricing .Card-Row .card .item-card4 {
  background-color: #ED7039;
}
.Pricing .Card-Row .card .more-info-parents {
  display: flex;
  align-items: center;
  height: 123px;
}
.Pricing .Card-Row .card .more-info-parents .more-info {
  width: 50%;
}
.Pricing .Card-Row .card .more-info-parents .more-info ul > li {
  color: #3D3D3D;
}
.Pricing .Card-Row .card .more-info-parents .price-tariff {
  width: 65px;
  height: 65px;
  border-radius: 35px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(40% - 65px);
}
.Pricing .Card-Row .card .more-info-parents .price-tariff span {
  color: #fff;
  font-size: 20px;
}
.Pricing .Card-Row .card4 {
  margin-top: 31px;
  margin-bottom: 20px;
}/*# sourceMappingURL=Style.css.map */